extends layout

block content
    h1 ログイン中でございます
    p こんにちは#{user.name} さん
    form(action='/', method='post')
        input(name='_method', type='hidden', value='DELETE')
        a(href='javascript:', onClick='forms[0].submit()') [ログアウト]
