extends layout

block content
    h1 チャットルーム
    div ここにテキストボックスinput 
    div#text

    script.
        var socket = io.connect();
        socket.on('getMessage', function (data) {
            $('text').append('<p>' + data +'</p>');
        });
        
    
