extends layout

block content
    h1 書籍詳細情報
    div
        div ISBN: hoge
        div 書籍名: hoge
        div 著者: hoge
        div タグ: hoge
        div 値段: hoge
        div 購入日: hoge
        div 読了日: hoge
        div コメント: hoge
        div
            a(href='/index.html') 戻る
            a(href='book/modify.html') 変更
            a(href='/#') 削除

