extends layout

block content
    h1 書籍検索
        
    form(action='../index.html',method='post')
        div ISBN
            input(type='text', name='isbn')
        div 書籍名
            input(type='text', name='name')
        div 著者
            input(type='text', name='author')
        div タグ
            input(type='text', name='tag')
        div 購入日
            input(type='text', name='purchase_data_start')
            ~
            input(type='text', name='purchase_data_end')
        div
            input(type='submit', value='検索')
