extends layout

block content
    h1 よしや辞書
    form(id='search_form',action='',method='GET')
        input(type='text', name='word',value= word)
        input(type='submit')
    form(id='search_all', action='/all',method='GET')
        input(type='submit')
    if word
        if result
            p#result #{result}
        else
            p#result #{word} は辞書に存在しない...

//-
    h2 辞書一覧
        table
            tr
                th 検索キー
                th 検索結果
            tr
                td hoge
                td huga
