extends layout

block list
    h2 辞書一覧
    table
        tr
            th 検索キー
            th 検索結果
        tr
            td hoge
            td fuga
        //for li in list
            td hoge
            td huga
